<aside class="articleMeta">
  <a href="{{image}}" itemprop="image"></a>

  <span class="articleMeta__author">
    <img class="articleMeta__author__image" src="{{author.image}}" alt="{{author.name}}">

    <span class="articleMeta__author__text">
      {{author.name}}
    </span>
  </span>

  <span class="articleMeta__date">
    <svg class="articleMeta__date__svg" width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
      <g class="articleMeta__date__svg__path" sketch:type="MSShapeGroup" fill="#000">
        <path d="M11.728 11.203h.687c1.044 0 1.889-.86 1.889-1.921v-7.284000000000001c0-1.061-.846-1.921-1.889-1.921h-.687c-1.043 0-1.889.86-1.889 1.921v7.284000000000001c0 1.061.846 1.921 1.889 1.921zM35.963 11.156h.687c1.043 0 1.889-.86 1.889-1.921v-7.285c0-1.061-.846-1.921-1.889-1.921h-.687c-1.044 0-1.89.86-1.89 1.921v7.285c0 1.061.846 1.921 1.89 1.921zM44.924 3.981h-4.849v5.757c0 1.92-1.536 2.98-3.425 2.98h-.687c-1.889 0-3.425-1.562-3.425-3.483v-5.254h-16.697v5.301c0 1.92-1.536 3.483-3.425 3.483h-.687c-1.889 0-3.425-1.562-3.425-3.483v-5.301h-5.232c-1.694 0-3.072 1.401-3.072 3.123v37.739c0 1.722 1.378 3.123 3.072 3.123h41.852c1.694 0 3.072-1.401 3.072-3.123v-37.739c0-1.722-1.378-3.123-3.072-3.123zm0 40.862h-41.852v-28.499h41.853l.002 28.499h-.002zM25.583 25.903h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403zM34.584 25.903h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403zM7.582 33.853h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403zM16.583 33.853h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403zM25.583 33.853h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403zM34.584 33.853h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403zM13.097 36.141h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403zM22.098 36.141h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403zM31.099 36.141h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403zM40.099 36.141h-5.515c-.219 0-.396.18-.396.403v4.856c0 .222.177.403.396.403h5.515c.219 0 .396-.18.396-.403v-4.856c0-.222-.177-.403-.396-.403z"/>
      </g>
    </svg>

    <time class="articleMeta__date__text" datetime="{{date format='YYYY-MM-DDTHH:mm:ssZ09:00'}}" itemprop="datePublished">
      {{date format='YYYY-MM-DD'}}
    </time>
  </span>

  <span class="articleMeta__shareCount">
    <svg class="articleMeta__shareCount__svg" width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
      <g sketch:type="MSLayerGroup">
        <path class="articleMeta__shareCount__svg__path" d="M37.675 3.832h9.412v26.891h-9.412v-26.891zM19.425 35.797c-1.064.653-2.899.975-5.472.975h-3.807v-8.732h3.972c2.643 0 4.469.333 5.441.997.987.665 1.473 1.838 1.473 3.522 0 1.507-.533 2.589-1.607 3.239zm-9.279-22.92h2.34c2.704 0 4.52.305 5.457.912.925.611 1.397 1.664 1.397 3.166 0 1.445-.502 2.462-1.495 3.059-1.006.586-2.839.882-5.523.882h-2.175v-8.02zm18.815 12.548c-1.593-1.78-3.807-2.78-6.648-2.997 2.527-.689 4.363-1.696 5.523-3.043 1.155-1.328 1.728-3.132 1.728-5.402 0-1.796-.393-3.386-1.154-4.759-.78-1.365-1.902-2.457-3.375-3.275-1.29-.709-2.821-1.209-4.608-1.504-1.794-.286-4.935-.43-9.443-.43h-10.959v39.968h11.291c4.536 0 7.807-.159 9.807-.463 1.998-.314 3.675-.843 5.032-1.568 1.679-.886 2.959-2.147 3.853-3.766.901-1.625 1.347-3.499 1.347-5.641 0-2.964-.799-5.346-2.396-7.121zM42.382 33.413c-2.971 0-5.379 2.405-5.379 5.377 0 2.971 2.407 5.378 5.379 5.378 2.968 0 5.377-2.407 5.377-5.378s-2.409-5.377-5.377-5.377" sketch:type="MSShapeGroup"/>
      </g>
    </svg>

    <span class="articleMeta__shareCount__text __jsFetchMeShareCount" data-url="{{url absolute="true"}}">
      ?
    </span>
  </span>

  {{#if tags}}
    <span class="articleMeta__tags">
      <svg class="articleMeta__tags__svg" width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <path class="articleMeta__tags__svg__path" d="M43.445 0h-13.484c-2.472 0-5.925 1.433-7.673 3.184l-20.887 20.926c-1.748 1.751-1.748 4.617 0 6.369l16.117 16.147c1.748 1.751 4.608 1.751 6.357 0l20.887-20.926c1.748-1.751 3.178-5.211 3.178-7.687v-13.509c0-2.477-2.023-4.503-4.495-4.503zm-5.973 14.981c-2.478 0-4.486-2.012-4.486-4.494 0-2.482 2.008-4.494 4.486-4.494 2.478 0 4.486 2.012 4.486 4.494 0 2.482-2.008 4.494-4.486 4.494z" sketch:type="MSShapeGroup" fill="#000"/>
      </svg>

      {{#foreach tags}}
        <a class="articleMeta__tags__text" href="{{url}}" title="{{name}}">
          {{#if @last}}
            #{{name}}
          {{else}}
            #{{name}},
          {{/if}}
        </a>
      {{/foreach}}
    </span>
  {{/if}}
</aside>
