<section class="articleSummaries">
  {{#foreach posts}}
    <article class="articleSummaries__item" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <h1 class="articleSummaries__item__title" itemprop="about name headline">
        <a href="{{url}}">
          {{{title}}}
        </a>

        <a href="http://b.hatena.ne.jp/entry/{{url}}">
          <img src="http://b.hatena.ne.jp/entry/image/{{url}}" alt="はてなブックマーク - {{title}}" title="はてなブックマーク - {{title}}">
        </a>
      </h1>

      {{> articleMeta}}

      <section class="articleSummaries__item__summary" itemprop="articleBody">
        {{excerpt words="16"}}
      </section>

      <nav class="articleSummaries__item__readmore">
        <a href="{{url}}">
          Read more &raquo;
        </a>
      </nav>
    </article>
  {{/foreach}}
</section>
